.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Powergrotesk, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Chivo;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.navlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  margin-right: 16px;
  margin-left: 0px;
  padding: 0px 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: padding 250ms ease, color 250ms ease, background-color 250ms ease;
  transition: padding 250ms ease, color 250ms ease, background-color 250ms ease;
  font-family: 'Space Mono', sans-serif;
  color: #7f9278;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.navlink:hover {
  border-radius: 8px;
  background-color: #4e5b49;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.navlink:active {
  background-color: #7f9278;
}

.navlink:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #7f9278;
}

.navlink.w--current {
  color: #7f9278;
}

.navlink.w--current:hover {
  color: #fff;
}

.navbar {
  width: 100vw;
  background-color: transparent;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out;
}

.hero.pageheader {
  margin-bottom: 64px;
  padding-bottom: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagehero {
  position: absolute;
  bottom: 32px;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 4px 12px;
  border-style: none;
  border-width: 1px;
  border-color: #7f9278;
  border-radius: 8px;
  background-color: #121212;
  background-image: url('../images/noisebar.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: 0 3px 16px -8px rgba(0, 0, 0, 0.8);
  opacity: 0;
  font-family: 'Space Mono', sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-block {
  font-family: 'Space Mono', sans-serif;
  color: hsla(0, 0%, 100%, 0.87);
  font-size: 12px;
  text-align: center;
}

.section-copy2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 80vh;
  max-height: 900px;
  min-height: 700px;
  margin-right: auto;
  margin-bottom: 124px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.87);
  background-image: url('../images/TokyoStreetArt-2.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.body {
  padding-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #121212;
  font-family: Inter, sans-serif;
}

.nav-container {
  position: static;
  top: 8px;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  padding-right: 0px;
  padding-left: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: #7f9278;
  border-radius: 16px;
  background-color: #121212;
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.34);
}

.fullimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 96vw;
  height: 80vh;
  max-height: 800px;
  max-width: 1600px;
  min-height: 600px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.fullimage.about {
  position: relative;
  margin-top: -232px;
  margin-bottom: 0px;
  background-image: url('../images/bitter-cake-4bcba1.jpg');
  background-position: 50% 31%;
  background-size: cover;
  background-repeat: no-repeat;
}

.fullimage.candid {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f8fb;
  background-image: none;
  background-size: auto;
}

.fullimage.padding {
  margin-bottom: 0px;
  background-color: #e5e5e5;
  -o-object-fit: contain;
  object-fit: contain;
}

.fullimage.padding.candid {
  background-color: #ff5869;
}

.fullimage.padding.candid.pink {
  background-color: #fff1ee;
}

.fullimage.padding.graybg {
  background-color: #e5e5e5;
}

.fullimage.padding.chase {
  background-color: #252525;
}

.fullimage.first {
  position: relative;
  margin-top: -256px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.15);
}

.fullimage.first.notextbelow {
  margin-bottom: 48px;
}

.fullimage.pink {
  background-color: #fff1ee;
}

.fullimage.fit {
  margin-bottom: 0px;
  background-color: #3820d0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 67%;
  object-position: 50% 67%;
}

.body-copy-any {
  margin-top: 112px;
  margin-bottom: 32px;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-family: Chivo;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  line-height: 32px;
}

.body-copy-any.footercopy {
  margin-top: 0px;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  font-family: Inter, sans-serif;
  color: #fff;
  line-height: 160%;
}

.highlightblack {
  display: inline;
  padding-right: 6px;
  padding-left: 6px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 6px;
  background-color: #4e5b49;
  color: #fff;
}

.heading {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Powergrotesk, sans-serif;
  color: #fff;
  font-size: 128px;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 300;
}

.heading-2.morepadding {
  margin-bottom: 56px;
}

.bodycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hrule {
  height: 1px;
  margin-bottom: 64px;
  background-color: rgba(0, 0, 0, 0.34);
}

.bodylink {
  border-bottom: 1px none #7f9278;
  border-radius: 0px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #7f9278;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.bodylink:hover {
  border-bottom-style: solid;
  border-radius: 0px;
}

.bodylink:focus {
  border-bottom-style: none;
  border-radius: 0px;
}

.bodylink.headerlink {
  border-bottom-width: 0px;
  border-bottom-color: #7f9278;
  font-family: Powergrotesk, sans-serif;
  color: #7f9278;
  font-size: 26px;
  font-weight: 400;
}

.bodylink.headerlink:hover {
  border-bottom-width: 4px;
  border-bottom-color: #7f9278;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 800px;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 80px;
  background-color: #121212;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 18, 0)), color-stop(87%, #121212)), url('../images/noisebg.png');
  background-image: linear-gradient(180deg, rgba(18, 18, 18, 0), #121212 87%), url('../images/noisebg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.portfolioitem {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  max-width: 1600px;
  min-height: 600px;
  min-width: 620px;
  margin-bottom: 16px;
  border-radius: 40px;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
}

.portfolioitem:hover {
  opacity: 0.95;
}

.portfolioitem.jpm {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2f70f4), to(#2f70f4));
  background-image: linear-gradient(180deg, #2f70f4, #2f70f4);
  background-position: 0px 0px;
}

.portfolioitem.candid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.15);
  background-image: none;
  background-position: 0px 0px;
}

.primarybutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 0px 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 20px;
  background-color: #4e5b49;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.34);
  -webkit-transition: color 125ms ease, background-color 125ms ease, box-shadow 250ms ease;
  transition: color 125ms ease, background-color 125ms ease, box-shadow 250ms ease;
  font-family: 'Space Mono', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
}

.primarybutton:hover {
  background-color: #121212;
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.34);
  color: #fff;
}

.primarybutton:active {
  background-color: #121212;
  color: #7f9278;
}

.primarybutton.formbutton {
  width: 100%;
}

.primarybutton.projectcta {
  width: 256px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: color 125ms ease, background-color 125ms ease, box-shadow 250ms ease;
  transition: color 125ms ease, background-color 125ms ease, box-shadow 250ms ease;
}

.bodyfixed {
  width: 684px;
  margin: 32px auto;
  padding-right: 32px;
  padding-left: 32px;
  background-color: transparent;
}

.bodyfixed.firstpar {
  margin-bottom: 96px;
}

.bodyfixed.firstpar.callout {
  margin-bottom: 32px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 20px;
}

.bodyfixed.firstpar.callout.alt {
  margin-bottom: 64px;
  padding: 32px;
  border-color: #4e5b49;
  background-color: #121212;
  background-image: url('../images/noisebg.png');
  background-position: 0px 0px;
  background-size: 350%;
}

.bodyfixed.thanks {
  margin-top: 96px;
}

.projectdate {
  margin-top: 0px;
  margin-bottom: 32px;
  padding-bottom: 4px;
  border-bottom: 1px solid #7f9278;
  font-family: 'Space Mono', sans-serif;
  color: #7f9278;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.projectheader {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Powergrotesk, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
}

.heading-4 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Powergrotesk, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 120%;
}

.heading-4.variant {
  margin-top: 0px;
  margin-bottom: 0px;
}

.body-copy-fixed {
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.body-copy-fixed.marginbottombody {
  margin-bottom: 32px;
}

.body-copy-fixed.marginbottombody.incallout {
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.darklink {
  margin-bottom: 8px;
  border-bottom: 1px solid transparent;
  font-family: Powergrotesk, sans-serif;
  color: #7f9278;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.darklink:hover {
  border-bottom-style: solid;
  border-bottom-color: #7f9278;
  color: #7f9278;
  text-decoration: none;
}

.darklink.noheight {
  font-family: Powergrotesk, sans-serif;
  line-height: 32px;
}

.field-label {
  margin-bottom: 4px;
  font-family: Chivo;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-field {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 20px;
  background-color: #121212;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.text-field:focus {
  border-color: #7f9278;
}

.form {
  display: none;
  width: 460px;
  margin-bottom: 48px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.34);
}

.bodyimages {
  display: block;
  width: 620px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  border-radius: 40px;
}

.bodyimages.candid {
  background-color: #fff1ee;
}

.bodyimages.pink {
  border-radius: 20px;
  background-color: #fff1ee;
}

.bodyimages.fullwidth {
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.bodyimages.single {
  margin-bottom: 0px;
}

.footergrid {
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.25fr;
  grid-template-rows: 0.25fr;
  font-size: 18px;
  line-height: 20px;
}

.footergrid.mobile {
  display: none;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 560px;
  padding-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.headerlink {
  border-bottom: 0px solid #7f9278;
  border-left: 1px none #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #7f9278;
  font-weight: 400;
  text-decoration: none;
}

.headerlink:hover {
  border-bottom: 4px solid #7f9278;
  opacity: 0.87;
}

.headerlink.chunky {
  padding-bottom: 4px;
  font-family: Powergrotesk, sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 1px;
}

.success-message {
  background-color: #fff;
  font-family: Chivo;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}

.hangloose {
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.hangloose:hover {
  -webkit-transform: rotate(0deg) rotate(-10deg);
  -ms-transform: rotate(0deg) rotate(-10deg);
  transform: rotate(0deg) rotate(-10deg);
}

.error-message {
  margin-top: 32px;
  padding: 16px;
  background-color: rgba(221, 94, 86, 0.12);
  font-family: Chivo;
  font-size: 16px;
}

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.user-stories {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 65%;
  max-height: 800px;
  max-width: 1400px;
  min-height: 300px;
  min-width: 300px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}

.watch {
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Apple-Watch-Small---mockup.png');
  background-position: 50% 50%;
  background-size: 260px;
  background-repeat: no-repeat;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: bottom 400ms ease, -webkit-transform 400ms ease;
  transition: bottom 400ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, bottom 400ms ease;
  transition: transform 400ms ease, bottom 400ms ease, -webkit-transform 400ms ease;
  cursor: pointer;
}

.watch:hover {
  position: relative;
  bottom: 15px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.watch-overlay {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 65%;
  max-height: 800px;
  max-width: 1400px;
  min-height: 300px;
  min-width: 300px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.heading-6 {
  font-family: Chivo;
}

.heading-6.error {
  font-family: Powergrotesk, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
}

.passwordprotec {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 20px;
  background-color: #121212;
  background-image: url('../images/noisebg.png');
  background-position: 0px 0px;
  background-size: 400%;
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.34);
}

.patternbg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  min-width: 620px;
  margin: 32px;
  padding-right: 24px;
  padding-bottom: 96px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #4e5b49;
  border-radius: 80px;
  background-color: #121212;
  background-image: url('../images/noisebg.png');
  background-position: 0px 0px;
  background-size: cover;
}

.whitebg {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #121212;
}

.image-20 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.contain {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
  object-fit: contain;
}

.contain.pink {
  background-color: #fff1ee;
}

.list {
  margin-bottom: 32px;
  padding-left: 32px;
}

.line {
  width: 100%;
  min-height: 1px;
  margin-right: 16px;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.calloutheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding: 16px 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #4e5b49;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../images/noisebg.png');
  background-position: 0px 0px;
  background-size: 280%;
}

.callouth3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.calloutb {
  font-family: 'Space Mono', sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.list-2 {
  margin-right: 32px;
  margin-bottom: 0px;
  margin-left: 32px;
  padding-left: 16px;
}

.double-wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 96vw;
  max-width: 1600px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.fullwidth {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fullimage-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.linkwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

html.w-mod-js *[data-ix="load-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 32px);
  -ms-transform: translate(0px, 32px);
  transform: translate(0px, 32px);
}

html.w-mod-js *[data-ix="scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 32px);
  -ms-transform: translate(0px, 32px);
  transform: translate(0px, 32px);
}

html.w-mod-js *[data-ix="user-stories-2"] {
  opacity: 1;
}

html.w-mod-js *[data-ix="close-watch"] {
  opacity: 1;
}

html.w-mod-js *[data-ix="user-stories"] {
  opacity: 1;
}

html.w-mod-js *[data-ix="watch"] {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }

  .fullimage {
    width: 100%;
  }

  .fullimage.candid {
    height: 100%;
    max-height: 100%;
    padding-top: 64px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .heading.primarygreeting {
    font-size: 96px;
  }

  .portfolioitem {
    width: 100%;
    max-width: 100%;
    min-width: 0px;
  }

  .portfolioitem:hover {
    width: 100%;
    max-width: 100%;
  }

  .bodyfixed {
    width: 652px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .projectheader {
    width: 550px;
  }

  .body-copy-fixed {
    width: 602px;
  }

  .body-copy-fixed.marginbottombody.incallout {
    width: auto;
  }

  .footergrid {
    width: 95vw;
  }

  .patternbg {
    width: 95%;
    max-width: 100%;
    min-width: 0px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .line {
    min-width: 96px;
  }

  .double-wide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding-right: 32px;
    padding-left: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .fullimage-wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin-top: 16px;
  }

  .hero {
    height: 100%;
    min-height: 100%;
  }

  .hero.pageheader {
    padding-right: 16px;
    padding-left: 16px;
  }

  .body {
    padding-right: 8px;
    padding-left: 8px;
  }

  .nav-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navmenu {
    width: 100%;
  }

  .fullimage {
    width: 100%;
    height: 100%;
    min-height: 0px;
    background-image: none;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .fullimage.about {
    height: 80vh;
  }

  .fullimage.padding.candid {
    padding: 32px 16px;
  }

  .body-copy-any {
    width: 100%;
  }

  .body-copy-any.footercopy {
    text-align: left;
  }

  .body-copy-any.footermobilebody {
    margin-top: 0px;
    margin-bottom: 48px;
    text-align: left;
  }

  .heading {
    font-size: 72px;
  }

  .heading.primarygreeting {
    font-size: 72px;
  }

  .footer {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .portfolioitem {
    height: 50vh;
  }

  .portfolioitem.candid {
    height: 100%;
    margin-bottom: 0px;
  }

  .bodyfixed {
    width: 100%;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .bodyfixed.firstpar {
    margin-top: 0px;
  }

  .projectheader {
    width: 100%;
    font-size: 48px;
  }

  .heading-4.footerhead {
    margin-bottom: 0px;
    text-align: left;
  }

  .body-copy-fixed {
    width: 100%;
  }

  .body-copy-fixed.marginbottombody.incallout {
    width: auto;
  }

  .footergrid {
    display: block;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 16px auto;
    grid-template-rows: auto auto;
  }

  .footergrid.mobile {
    display: block;
    width: 100%;
    text-align: center;
  }

  .patternbg {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 24px;
    padding-bottom: 64px;
  }

  .whitebg {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-20 {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .contain {
    height: 100%;
  }

  .line {
    display: none;
    max-width: 96px;
    min-width: auto;
  }

  .double-wide {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .fullimage-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .linkwrapper {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .navlink {
    width: 90%;
    height: 32px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
  }

  .navbar {
    position: absolute;
    width: 90vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu-button {
    display: none;
    width: 48px;
    height: 48px;
    margin-top: 0px;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #7f9278;
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.34);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
  }

  .menu-button:hover {
    background-color: #4e5b49;
    color: #fff;
  }

  .menu-button:active {
    background-color: #dd5e56;
    font-size: 23px;
  }

  .menu-button:focus {
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
  }

  .menu-button.w--open {
    z-index: 2;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
  }

  .hero {
    height: 100%;
    min-height: 100%;
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .hero.pageheader {
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
  }

  .body {
    padding-right: 8px;
    padding-left: 8px;
  }

  .nav-container {
    margin-bottom: 32px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .navmenu {
    z-index: 2;
    padding: 22px 8px 8px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .fullimage.about {
    max-height: 320px;
    margin-top: -64px;
    margin-bottom: 32px;
  }

  .fullimage.first.notextbelow {
    margin-top: -64px;
    margin-bottom: 24px;
  }

  .heading {
    font-size: 48px;
  }

  .heading.primarygreeting {
    margin-bottom: 16px;
    font-size: 40px;
  }

  .heading-2 {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .bodylink.headerlink {
    font-size: 26px;
  }

  .footer {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 16px;
    border-radius: 40px;
  }

  .portfolioitem {
    height: 240px;
    max-height: 240px;
    min-height: 240px;
  }

  .primarybutton {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .primarybutton.projectcta {
    padding-right: 16px;
    padding-left: 16px;
  }

  .bodyfixed.firstpar {
    margin-bottom: 32px;
  }

  .bodyfixed.firstpar.callout.alt {
    padding: 24px;
  }

  .projectheader {
    width: 100%;
    font-size: 32px;
  }

  .heading-4 {
    font-size: 32px;
  }

  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 48px;
    margin: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body-copy-fixed.marginbottombody.incallout {
    width: auto;
    margin-right: 24px;
    margin-left: 24px;
  }

  .form {
    width: 100vw;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .footergrid.mobile {
    width: 100%;
  }

  .headerlink.chunky {
    max-width: 100vw;
    font-size: 24px;
    line-height: 24px;
  }

  .top {
    height: 48px;
  }

  .heading-6.error {
    font-size: 40px;
  }

  .form2 {
    width: 100vw;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
  }

  .patternbg {
    padding-top: 24px;
    padding-bottom: 32px;
    border-radius: 40px;
  }

  .whitebg {
    padding: 0px;
  }

  .line {
    display: none;
  }

  .list-2 {
    margin-right: 24px;
    margin-left: 24px;
  }

  .double-wide {
    margin-bottom: 24px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .fullimage-wrapper {
    margin-bottom: 24px;
  }
}

#w-node-_599291d8-dbcd-f4aa-dfcc-dbb87c5a1764-7c5a1761 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c087a1c9-55e1-736a-4176-49e783c4ee62-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_43d7a361-113a-b5e8-47d0-8275dcf9258c-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_43d7a361-113a-b5e8-47d0-8275dcf9258d-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8fe7b07-751d-b923-d167-9b521ea5be82-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8fe7b07-751d-b923-d167-9b521ea5be85-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8fe7b07-751d-b923-d167-9b521ea5be86-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301e8-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301eb-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301ec-7c5a1761 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_794308c4-91bf-5a52-3ecb-9c7b14b7084d-9c09db79 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-abc76fde-ec28-4fb0-7eef-081eef3cb09d-9c09db79 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 479px) {
  #w-node-_794308c4-91bf-5a52-3ecb-9c7b14b7084d-9c09db79 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-abc76fde-ec28-4fb0-7eef-081eef3cb09d-9c09db79 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@font-face {
  font-family: 'Powergrotesk';
  src: url('../fonts/PowerGrotesk-Italic.eot') format('embedded-opentype'), url('../fonts/PowerGrotesk-Italic.woff') format('woff'), url('../fonts/PowerGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Powergrotesk';
  src: url('../fonts/PowerGrotesk-Regular.eot') format('embedded-opentype'), url('../fonts/PowerGrotesk-Regular.woff') format('woff'), url('../fonts/PowerGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}