:root {
  --white: white;
  --roman-10: #0096c81a;
  --dark-sea-green: #00c8a0;
  --white15: #ffffff26;
  --roman: #0096c8;
  --34-black: #00000057;
  --dark-slate-green: #05221c;
  --87-black: #000000de;
  --black-2: #030d0b;
  --dark-dark-blue: #033d4d;
  --15-red: #dd5e561f;
  --black: black;
  --12-black: #0000001f;
  --54-black: #0000008a;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Atipland, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.navlink {
  color: var(--white);
  letter-spacing: .125em;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin-left: 0;
  margin-right: 12px;
  padding: 2px 6px 2px 8px;
  font-family: Space Mono, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  transition: all .5s ease-in-out;
  display: flex;
}

.navlink:hover {
  border: 1px solid var(--roman-10);
  background-color: var(--roman-10);
  color: #fff;
  border-radius: 8px;
  font-weight: 400;
  text-decoration: none;
}

.navlink:active {
  background-color: var(--dark-sea-green);
}

.navlink:focus {
  border: 1px solid var(--dark-sea-green);
}

.navlink.w--current {
  color: var(--white);
}

.navlink.w--current:hover {
  color: #fff;
}

.navlink.w--current:active {
  background-color: var(--white15);
}

.navlink.w--current:focus {
  border-color: var(--white15);
}

.navlink.w--current:focus-visible {
  border-color: var(--roman);
  text-align: center;
}

.navlink.w--current[data-wf-focus-visible] {
  border-color: var(--roman);
  text-align: center;
}

.navbar {
  background-color: #0000;
  width: 100vw;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: box-shadow .4s ease-in-out;
  display: flex;
  position: relative;
}

.hero.pageheader {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 64px;
  padding-bottom: 48px;
}

.hero.pageheader.two {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-top: 96px;
}

.pagehero {
  border: 1px solid var(--dark-slate-green);
  background-color: var(--black-2);
  opacity: 0;
  color: var(--white);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: 8px;
  width: auto;
  height: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 12px;
  font-family: Space Mono, sans-serif;
  position: absolute;
  bottom: 32px;
  box-shadow: 0 3px 16px -8px #000c;
}

.text-block {
  color: #ffffffde;
  text-align: center;
  font-family: Space Mono, sans-serif;
  font-size: 12px;
}

.section-copy2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--87-black);
  background-image: url('../images/TokyoStreetArt-2.JPG');
  background-position: 50%;
  background-size: cover;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 80vh;
  min-height: 700px;
  max-height: 900px;
  margin-bottom: 124px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.body {
  background-color: var(--black-2);
  justify-content: center;
  padding-bottom: 32px;
  font-family: Inter;
}

.nav-container {
  z-index: 500;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 684px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  transition: all .4s ease-in-out;
  display: flex;
  position: relative;
  inset: auto 0% 64px;
}

.nav-container.top-of-page {
  margin-top: 96px;
  position: relative;
  top: 0;
}

.navmenu {
  float: none;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #030d0bcc;
  border: .5px solid #033d4d;
  border-radius: 20px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 0;
  display: flex;
  box-shadow: 0 8px 12px -8px #00000057;
}

.fullimage {
  object-fit: cover;
  border-radius: 96px;
  width: auto;
  height: 80vh;
  min-height: 600px;
  max-height: 800px;
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
}

.fullimage.about {
  border: 1px solid var(--white15);
  background-image: url('../images/configtregg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1400px;
  max-height: 900px;
  margin-bottom: 0;
}

.fullimage.candid {
  background-color: #f8f8fb;
  background-image: none;
  background-size: auto;
  justify-content: space-around;
  align-items: center;
}

.fullimage.padding {
  object-fit: contain;
  background-color: #e5e5e5;
  margin-bottom: 0;
}

.fullimage.padding.candid {
  background-color: #ff5869;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.fullimage.padding.candid.pink {
  background-color: #fff1ee;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.fullimage.padding.graybg {
  object-fit: cover;
  background-color: #e5e5e5;
  transform: rotate(0);
}

.fullimage.padding.chase {
  background-color: var(--black-2);
  margin-bottom: 64px;
}

.fullimage.padding.starkgreen {
  background-color: #99d6cc;
}

.fullimage.first {
  border: 1px solid #ffffff26;
  margin-top: 0;
  position: relative;
}

.fullimage.first.notextbelow {
  object-position: 0% 50%;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.fullimage.pink {
  background-color: #fff1ee;
}

.fullimage.fit {
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #3820d0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  max-height: 1200px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.body-copy-any {
  color: var(--87-black);
  align-self: start;
  margin-top: 112px;
  margin-bottom: 32px;
  font-family: Chivo;
  font-size: 18px;
  line-height: 32px;
}

.body-copy-any.footercopy {
  color: var(--white);
  letter-spacing: .4px;
  align-self: start;
  margin-top: 0;
  font-family: Atipland, sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.highlightblack {
  border: 1px solid var(--roman-10);
  background-color: var(--roman-10);
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Space Mono, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  display: inline;
  position: relative;
  top: -1px;
}

.heading {
  color: var(--white);
  text-align: center;
  text-wrap: balance;
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: Atipland, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
}

.heading.primarygreeting {
  text-align: center;
  margin-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 88px;
  font-weight: 400;
}

.heading.primarygreeting.smaller {
  font-size: 48px;
}

.heading-2 {
  color: var(--white);
  text-align: center;
  letter-spacing: .4px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.heading-2.morepadding {
  margin-bottom: 56px;
}

.heading-2.home {
  text-align: center;
  text-wrap: balance;
  max-width: 720px;
  font-family: Atipland, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.bodycontainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.hrule {
  background-color: var(--34-black);
  height: 1px;
  margin-bottom: 64px;
}

.bodylink {
  border-bottom: .5px solid var(--dark-sea-green);
  color: var(--dark-sea-green);
  cursor: pointer;
  border-radius: 0;
  font-weight: 400;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.bodylink:hover {
  color: var(--roman);
  border-bottom-width: 1px;
  border-bottom-color: #0096c800;
  border-radius: 0;
}

.bodylink:focus {
  border-bottom-style: none;
  border-radius: 0;
}

.bodylink.headerlink {
  border-bottom-width: 0;
  border-bottom-color: var(--roman);
  color: var(--dark-sea-green);
  font-family: Atipland, sans-serif;
  font-weight: 400;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.bodylink.headerlink:hover {
  opacity: 1;
  color: var(--roman);
  border-bottom-width: 0;
}

.footer {
  border: 1px solid var(--dark-dark-blue);
  background-color: var(--black-2);
  background-image: url('../images/newmast2.png');
  background-size: cover;
  border-radius: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 800px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
}

.portfolioitem {
  border-radius: 96px;
  width: 100%;
  min-width: 620px;
  max-width: 1600px;
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  transition: opacity .8s;
  overflow: hidden;
}

.portfolioitem:hover {
  opacity: .95;
}

.portfolioitem.jpm {
  background-image: linear-gradient(#2f70f4, #2f70f4);
  background-position: 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.portfolioitem.candid {
  background-image: none;
  background-position: 0 0;
  border: 1px solid #ffffff26;
  justify-content: center;
  align-items: center;
  display: flex;
}

.primarybutton {
  border: 1px solid var(--dark-slate-green);
  background-color: var(--dark-slate-green);
  box-shadow: 0 0 0 0 var(--34-black);
  color: var(--black-2);
  text-align: center;
  letter-spacing: .02rem;
  border-radius: 16px;
  align-items: center;
  height: 48px;
  padding: 0 32px;
  font-family: Inter Variable, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: color .125s, background-color .125s, box-shadow .25s;
  display: flex;
}

.primarybutton:hover {
  background-color: var(--black-2);
  box-shadow: 0 8px 12px -8px var(--34-black);
}

.primarybutton:active {
  background-color: var(--black-2);
  color: var(--dark-sea-green);
}

.primarybutton.formbutton {
  width: 100%;
}

.primarybutton.projectcta {
  border-color: var(--roman-10);
  background-color: var(--roman-10);
  color: var(--white);
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  font-weight: 400;
  transition: all .5s ease-in-out;
}

.primarybutton.projectcta:hover {
  border-color: var(--roman);
  background-color: var(--black-2);
}

.primarybutton.projectcta.centered {
  margin-left: auto;
  margin-right: auto;
}

.primarybutton.projectcta.fullwidth {
  min-height: 48px;
}

.bodyfixed {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #0000;
  flex-flow: column;
  width: 684px;
  margin: 32px auto;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
}

.bodyfixed.firstpar {
  margin-bottom: 96px;
  padding-left: 48px;
  padding-right: 48px;
}

.bodyfixed.firstpar.callout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--dark-slate-green);
  background-image: url('../images/newmast2.png');
  background-position: 0 0;
  background-size: cover;
  border-radius: 64px;
  margin-bottom: 64px;
  padding: 0 48px 32px;
}

.bodyfixed.firstpar.callout.alt {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  border-color: var(--dark-slate-green);
  background-color: var(--black-2);
  background-image: url('../images/newmast2.png');
  background-position: 0 0;
  background-size: cover;
  flex-flow: column;
  margin-bottom: 64px;
  padding: 48px 64px;
  display: flex;
}

.bodyfixed.firstpar.callout.altbg {
  background-image: url('../images/newmast.png');
  background-position: 50%;
  background-size: cover;
}

.bodyfixed.thanks {
  margin-top: 96px;
}

.bodyfixed.fixedheight {
  justify-content: center;
  align-items: center;
  min-height: 512px;
}

.bodyfixed.chase {
  padding-bottom: 96px;
}

.bodyfixed.lastpar {
  margin-top: 32px;
  margin-bottom: 64px;
  padding-left: 48px;
  padding-right: 48px;
}

.bodyfixed.lastpar.callout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--dark-slate-green);
  background-image: url('../images/newmast2.png');
  background-position: 0 0;
  background-size: cover;
  border-radius: 32px;
  margin-bottom: 64px;
  padding: 0 48px 32px;
}

.bodyfixed.lastpar.callout.alt {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  border-color: var(--dark-slate-green);
  background-color: var(--black-2);
  background-image: url('../images/newmast2.png');
  background-position: 0 0;
  background-size: cover;
  flex-flow: column;
  margin-bottom: 64px;
  padding: 48px 64px;
  display: flex;
}

.bodyfixed.lastpar.callout.altbg {
  background-image: url('../images/newmast.png');
  background-position: 50%;
  background-size: cover;
}

.bodyfixed.white {
  color: var(--white);
}

.projectdate {
  border-bottom: 1px solid var(--white15);
  color: var(--white);
  letter-spacing: .125em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-family: Space Mono, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.projectheader {
  color: var(--white);
  text-wrap: pretty;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

.heading-4 {
  color: var(--white);
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 32px;
  line-height: 120%;
}

.heading-4.variant {
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Space Mono, sans-serif;
  font-size: .75rem;
  font-weight: 400;
}

.heading-4.cta {
  font-size: 48px;
}

.body-copy-fixed {
  color: var(--white);
  letter-spacing: .02rem;
  text-wrap: pretty;
  font-smooth: always;
  font-feature-settings: "cv05" on;
  margin-bottom: 0;
  font-family: Inter Variable, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

.body-copy-fixed.marginbottombody {
  margin-bottom: 32px;
}

.body-copy-fixed.marginbottombody.incallout {
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
}

.darklink {
  color: var(--dark-sea-green);
  letter-spacing: .05em;
  margin-bottom: 8px;
  font-family: Atipland, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.darklink:hover {
  color: var(--roman);
  text-decoration: none;
}

.darklink.noheight {
  line-height: 32px;
}

.field-label {
  color: var(--87-black);
  margin-bottom: 4px;
  font-family: Chivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-field {
  border: 1px solid var(--dark-slate-green);
  background-color: var(--black-2);
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 16px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 16px;
  font-family: Space Mono, sans-serif;
  line-height: 24px;
  transition: all .2s;
}

.text-field:focus {
  border-color: var(--roman);
  color: #fff;
}

.form {
  box-shadow: 0 8px 12px -8px var(--34-black);
  background-color: #fff;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  margin-bottom: 48px;
  padding: 16px;
  display: none;
}

.bodyimages {
  border-radius: 40px;
  width: 620px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bodyimages.candid {
  background-color: #fff1ee;
}

.bodyimages.pink {
  background-color: #fff1ee;
  border-radius: 20px;
}

.bodyimages.fullwidth {
  border-radius: 64px;
  max-width: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.bodyimages.single {
  border-radius: 64px;
  margin-bottom: 0;
}

.footergrid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template: "." .25fr
  / 1fr 1fr 1fr 1fr;
  font-size: 18px;
  line-height: 20px;
}

.footergrid.mobile {
  display: none;
}

.form-block {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 560px;
  padding-top: 32px;
  display: flex;
}

.headerlink {
  border-bottom: 0px solid var(--dark-sea-green);
  color: var(--roman);
  border-left: 1px #000;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
}

.headerlink:hover {
  opacity: .87;
  color: var(--dark-sea-green);
}

.headerlink.chunky {
  color: var(--dark-sea-green);
  letter-spacing: 1px;
  margin-top: 0;
  padding-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  display: block;
}

.headerlink.chunky:hover {
  opacity: 1;
  color: var(--roman);
  border-bottom-width: 0;
}

.headerlink.chunky.toplink {
  margin-top: 24px;
}

.success-message {
  color: var(--87-black);
  background-color: #fff;
  font-family: Chivo;
  font-size: 18px;
}

.hangloose {
  opacity: .87;
  transition: transform .2s;
  transform: rotate(0);
}

.hangloose:hover {
  transform: rotate(0)rotate(-10deg);
}

.error-message {
  background-color: var(--15-red);
  margin-top: 32px;
  padding: 16px;
  font-family: Chivo;
  font-size: 16px;
}

.top {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 48px;
  display: flex;
  position: absolute;
  top: 0;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
}

.user-stories {
  opacity: 0;
  background-color: #fff;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-width: 300px;
  max-width: 1400px;
  height: 65%;
  min-height: 300px;
  max-height: 800px;
  padding: 16px;
  display: flex;
  position: absolute;
  transform: scale(.3);
}

.watch {
  cursor: pointer;
  background-image: url('../images/Apple-Watch-Small---mockup.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 260px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 500px;
  transition: transform .4s, bottom .4s;
  display: flex;
  position: relative;
  bottom: 0;
  transform: scale(1);
}

.watch:hover {
  position: relative;
  bottom: 15px;
  transform: scale(1.05);
}

.watch-overlay {
  opacity: 0;
  background-color: #fff;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-width: 300px;
  max-width: 1400px;
  height: 65%;
  min-height: 300px;
  max-height: 800px;
  padding: 16px;
  display: flex;
  position: absolute;
  transform: scale(.6);
}

.heading-6 {
  font-family: Chivo;
}

.heading-6.error {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Atipland, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
}

.passwordprotec {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: absolute;
  inset: 0%;
}

.form2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid var(--dark-slate-green);
  background-color: var(--black-2);
  box-shadow: 0 8px 12px -8px var(--34-black);
  background-image: url('../images/mast-1.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 460px;
  padding: 0 32px 32px;
  transition: all .8s ease-in-out;
  display: flex;
}

.form2:hover {
  border-color: var(--roman);
  box-shadow: 0 0 32px -12px var(--dark-dark-blue);
}

.patternbg {
  position: relative;
  overflow: hidden;
  z-index: 1;
  grid-column-gap: 96px;
  grid-row-gap: 96px;
  border: 1px solid var(--dark-dark-blue);
  background-color: var(--black-2);
  background: linear-gradient(45deg, #030D0B, #042D2C);
  border-radius: 96px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  min-height: 100%;
  margin-bottom: 32px;
  padding: 64px 24px 0;
  display: flex;
}

.patternbg > canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}

.contentwrap {
  background-color: var(--black-2);
  flex-flow: column;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.centered-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}

.centered-img:hover {
  object-fit: cover;
  object-position: 50% 50%;
  transform: scale(1.05);
}

.centered-img.inset {
  object-fit: cover;
  object-position: 50% 50%;
}

.contain {
  object-fit: contain;
  width: 100%;
  height: 100vh;
}

.contain.pink {
  background-color: #fff1ee;
  border-radius: 96px;
  max-height: 800px;
}

.contain.pink.padding {
  padding-left: 32px;
  padding-right: 32px;
}

.list {
  margin-bottom: 32px;
  padding-left: 32px;
}

.line {
  background-color: var(--white15);
  width: 100%;
  min-height: 1px;
  margin-right: 16px;
}

.line.no-padd {
  margin-right: 0;
}

.calloutheader {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  margin-bottom: 0;
  padding: 40px 0 16px;
  display: flex;
}

.calloutheader.no-padding {
  margin-bottom: 0;
  padding: 24px 0 0;
}

.callouth3 {
  color: var(--white);
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Space Mono, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.calloutb {
  color: #fffc;
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4px;
  font-family: Space Mono, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.list-2 {
  margin-bottom: 0;
  padding-left: 16px;
}

.double-wide {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96vw;
  max-width: 1600px;
  margin: 96px auto;
  display: flex;
  overflow: hidden;
}

.fullwidth {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  inset: 0;
}

.fullwidth.vertical {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullwidth.vertical.home {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 64px;
}

.fullwidth.vertical.extras {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 64px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.fullimage-wrapper {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 1600px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.linkwrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  display: flex;
}

.div-block {
  z-index: 100;
  aspect-ratio: 1;
  border: 1px solid var(--dark-slate-green);
  background-color: var(--dark-slate-green);
  object-fit: contain;
  border-radius: 360%;
  max-width: 256px;
  max-height: 256px;
  transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
  position: absolute;
  top: 579.195px;
  left: 631px;
  overflow: hidden;
  transform: scale(1.3);
}

.div-block:hover {
  transform: rotate(-34deg)scale(1.4);
}

.image-21 {
  mix-blend-mode: multiply;
  max-width: 140%;
  position: relative;
  top: -96px;
  left: -2px;
  transform: rotate(20deg);
}

.text-span {
  background-image: linear-gradient(119deg, var(--roman), var(--dark-sea-green));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.extras-link {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 512px;
  max-height: 512px;
  display: flex;
}

.ticks {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 684px;
  height: 16px;
  margin-left: 64px;
  margin-right: 64px;
  display: flex;
}

.div-block-3 {
  background-color: var(--white);
  width: 1px;
  height: 100%;
}

.div-block-3-copy {
  background-color: var(--white15);
  width: 1px;
  height: 100%;
}

.div-block-3-copy-copy {
  background-color: #ffffff0d;
  width: 1px;
  height: 100%;
}

.heading-7 {
  font-family: Atipland, sans-serif;
  font-weight: 400;
}

.right-img {
  object-fit: cover;
  object-position: 50% 50%;
  flex: 0 auto;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}

.right-img:hover {
  transform: scale(1.025);
}

.left-img {
  object-fit: cover;
  object-position: 0% 50%;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}

.left-img:hover {
  object-position: 50% 50%;
  transform: scale(1.05);
}

.section-header {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.headerwrapper {
  height: 100svh;
  max-height: 1080px;
  padding: 32px;
}

html.w-mod-js [data-ix="load-in"], html.w-mod-js [data-ix="scroll-in"] {
  opacity: 0;
  transform: translate(0, 32px);
}

html.w-mod-js [data-ix="user-stories-2"], html.w-mod-js [data-ix="close-watch"], html.w-mod-js [data-ix="user-stories"], html.w-mod-js [data-ix="watch"] {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }

  .nav-container {
    bottom: 56px;
  }

  .fullimage {
    width: 100%;
  }

  .fullimage.about {
    background-position: 20%;
    background-size: cover;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .fullimage.candid {
    flex-direction: row;
    height: 100%;
    max-height: 100%;
    padding-top: 64px;
    padding-bottom: 0;
  }

  .body-copy-any.footercopy {
    margin-bottom: 0;
  }

  .portfolioitem {
    border-radius: 64px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }

  .portfolioitem:hover {
    width: 100%;
    max-width: 100%;
  }

  .bodyfixed {
    width: 652px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .projectheader {
    width: 550px;
  }

  .body-copy-fixed.marginbottombody.incallout {
    width: auto;
  }

  .footergrid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-flow: column;
    width: 100%;
    display: flex;
  }

  .patternbg {
    border-radius: 64px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .line {
    min-width: 96px;
  }

  .double-wide {
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .fullwidth.vertical {
    min-width: 100%;
  }

  .div-block {
    left: auto;
    right: 0;
    transform: scale(.75);
  }

  .div-block:hover {
    transform: rotate(-34deg)scale(.85);
  }

  .ticks {
    width: 100%;
    margin-left: 48px;
    margin-right: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .headerwrapper {
    flex-flow: column;
    padding: 24px 24px 0;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin-top: 16px;
  }

  .hero {
    height: 100%;
    min-height: 100%;
  }

  .hero.pageheader {
    padding-left: 16px;
    padding-right: 16px;
  }

  .body {
    padding-left: 8px;
    padding-right: 8px;
  }

  .nav-container {
    justify-content: center;
    bottom: 32px;
  }

  .navmenu {
    width: 100%;
  }

  .fullimage {
    object-fit: contain;
    background-image: none;
    border-radius: 64px;
    width: 100%;
    height: 100%;
    min-height: 0;
  }

  .fullimage.about {
    background-position: 30%;
    background-size: cover;
    height: 80vh;
    margin-left: 0;
    margin-right: 0;
  }

  .fullimage.padding {
    margin-bottom: 24px;
  }

  .fullimage.padding.candid {
    padding: 32px 16px;
  }

  .fullimage.first.notextbelow {
    border-radius: 64px;
  }

  .body-copy-any {
    width: 100%;
  }

  .body-copy-any.footercopy {
    text-align: left;
  }

  .body-copy-any.footermobilebody {
    text-align: left;
    margin-top: 0;
    margin-bottom: 48px;
  }

  .heading {
    font-size: 72px;
  }

  .heading.primarygreeting {
    font-size: 56px;
    text-wrap: balance;
  }

  .footer {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .portfolioitem {
    height: 50vh;
    margin-bottom: 32px;
  }

  .portfolioitem.candid {
    height: 100%;
    margin-bottom: 0;
  }

  .bodyfixed {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .bodyfixed.firstpar {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .bodyfixed.firstpar.callout.alt {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bodyfixed.lastpar {
    margin-top: 0;
  }

  .projectdate {
    margin-bottom: 0;
  }

  .projectheader {
    width: 100%;
    margin-bottom: 0;
    font-size: 48px;
  }

  .heading-4.footerhead {
    text-align: left;
    margin-bottom: 0;
  }

  .body-copy-fixed {
    width: 100%;
  }

  .body-copy-fixed.marginbottombody.incallout {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .form {
    width: 100vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .bodyimages, .bodyimages.fullwidth {
    border-radius: 32px;
  }

  .footergrid.mobile {
    width: 100%;
  }

  .headerlink.chunky {
    max-width: 100vw;
    font-size: 24px;
    line-height: 24px;
  }

  .top {
    height: 48px;
  }

  .heading-6.error {
    font-size: 32px;
  }

  .form2 {
    box-shadow: none;
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .patternbg {
    border-radius: 40px;
    height: 100%;
    min-height: 640px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 40px 40px 0;
  }

  .contentwrap {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .list {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    margin-bottom: 0;
    padding-left: 16px;
    display: flex;
  }

  .line {
    display: none;
  }

  .list-2 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    display: flex;
  }

  .double-wide {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fullimage-wrapper {
    margin-bottom: 0;
  }

  .div-block {
    display: none;
  }

  .section {
    padding-left: 32px;
    padding-right: 32px;
  }

  .ticks {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .headerwrapper {
    justify-content: center;
    align-items: center;
    height: 100svh;
    padding: 8px 0;
    display: flex;
  }

  .form-block-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

#w-node-_599291d8-dbcd-f4aa-dfcc-dbb87c5a1764-7c5a1761 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start;
}

#w-node-c087a1c9-55e1-736a-4176-49e783c4ee62-7c5a1761, #w-node-_43d7a361-113a-b5e8-47d0-8275dcf9258c-7c5a1761, #w-node-_43d7a361-113a-b5e8-47d0-8275dcf9258d-7c5a1761, #w-node-b8fe7b07-751d-b923-d167-9b521ea5be82-7c5a1761, #w-node-b8fe7b07-751d-b923-d167-9b521ea5be85-7c5a1761, #w-node-b8fe7b07-751d-b923-d167-9b521ea5be86-7c5a1761, #w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301e8-7c5a1761, #w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301eb-7c5a1761, #w-node-_7405a78f-39f4-bbe8-729c-d7abdb3301ec-7c5a1761 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bcf58200-7376-74a9-7c77-4f64f2ba76c2-9c09db79 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-bcf58200-7376-74a9-7c77-4f64f2ba76c5-9c09db79 {
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 479px) {
  #w-node-bcf58200-7376-74a9-7c77-4f64f2ba76c2-9c09db79 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-bcf58200-7376-74a9-7c77-4f64f2ba76c5-9c09db79 {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .heading.primarygreeting {
    font-size: 40px;
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Powergrotesk';
  src: url('../fonts/PowerGrotesk-Italic.eot') format('embedded-opentype'), url('../fonts/PowerGrotesk-Italic.woff') format('woff'), url('../fonts/PowerGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland';
  src: url('../fonts/AtiplaND-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland';
  src: url('../fonts/AtiplaND-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland Book';
  src: url('../fonts/AtiplaND-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland';
  src: url('../fonts/AtiplaND-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland';
  src: url('../fonts/AtiplaND-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atipland';
  src: url('../fonts/AtiplaND-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}